Stand Alone/__pycache__/*
Algorithms/fake-news-heatmap-creator
Algorithms/onnx.zip
dataset_predictions.csv
new_dataset_predictions.csv
dataset_predictionsInt.csv
dataset_predictionsIntScore.csv
algos/
CSVs/